.container{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.container h1{
    font-size: 65px;
}
.container h2{
    font-size: 25px;
}

.learn{
    border: none;
    border-radius: 6px;
    background-color: #E5A7B2;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.image1{
    height: 55vh;
    width: 60vh;
}
p{
    font-size: 24px;
}